#form1
{
	background: #273c75;
}
#form2
{
	background: #833471;
}
#form3
{
	background: #be2edd;
}
#legendId1
{
	background: #273c75;
}
#legendId2
{
	background: #833471;
}
#legendId3
{
	background: #be2edd;
}